.container{
    height:400px;
    width:400px;
    margin:10px;
    margin:0 auto;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 10px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    margin-top: 70px;
}
.college-portal{
    display: flex;
    justify-content:center;
    background:radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
.college-portal a{
padding-right:10px;
color:white;
font-weight: 300;
margin:20px 10px 20px 0;

}
form h2{
    text-align: center;
}
 /* Header styles */
        header{
            background-color: blueviolet;
            padding:10px;
            color: darkred;
        }
 /* logo styles */
 .logo{
    max-width: 100px;
 }
h1{
    text-align:center;
}
label{
    margin-top: 15px;;
}
.inner-div{
    display:flex;
    flex-direction:column;
    padding:10px;
}
input{
    margin-top:6px;
    height:25px;
    border-radius:5px; 
    border-color: transparent;
}
button{
    background-color: blue;
    color:white;
    padding:5px;
    width:20;
    border-radius:2px;
    border:unset;
}


